
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: white;
  colour: white;
}

h1 {
  display: inline-block;
  border: 5px solid black;
  padding: 10px;
  border-color: #3391EA;
}

h3{
  font-family: arial;
}


div {
  text-align: center;
}


body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 10px;
  
}

#img-caption{
    margin:15px;
    font-family:Times New Roman;
    font-size:15px;
    color: black;
   text-align: center;
}

#title{
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  color: #3391EA;
  font-size: 50px;
  text-align: center;  
  
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  heigh: auto;
  box-shadow: 5px 10px 8px #a3a375;
  padding: 1%;
}


#caption{
 
  font-family: Arial;
  color: #3391EA;
  font-size: 20px;
  text-align: center;
}

#headline{
  font-family: Arial;
  color: black;
  font-size: 30px;
  text-align: center;
  
}

#list {
  
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-family: arial;
}

li {
  margin: 16px 0;
}

#tribute-info{
  margin: 30px 100px;
  padding: 15px;
  border-radius: 50px;
  background: #b9b8b8;
   
}
